.container{
    display: grid;
    background-color:  #BCE2C9;
    width:fit-content;
    gap: 5px;
    grid-template-columns: 300px 300px 300px;
    padding: 5px;
}
.item{
    background-color: #36B87D;
    padding: 20px;
    text-align: center;
}
.item-1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item-5{
    grid-column-start: 1;
    grid-column-end: 4;
}