.flex-box{
    display: flex;
    width: 100%;
    height: 410px;
    justify-content: space-around;
}

.flex-item{
    width: 20%;
    height: 410px;
    border: 1px #EEEEEE solid;
    border-radius: 5px;

}

.sub-item{
    display: flex;
    border-bottom: 1px black solid;
}

.ptr{
    width: 236px;
    border-radius: 5px;
}

.ptr-circle{
    padding-top: 20px;
    width: 70px;
    border-radius: 50%;
}

.sub-item2{
    display: flex;
    justify-content: space-between;
}
.input{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F66092;
    border: 1px #F66092 solid;
    border-radius: 5px;
}
.text{
    color: rgb(201, 200, 200);
}

@media screen and (max-width: 600px) {

    .flex-box{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .flex-item{
        width: 90%;
        margin-bottom: 15px;
        height: fit-content;

    }
    .sub-item{
        width: 100%;
        justify-content: space-around;
    }
    .ptr{
        width: 100%;
    }
    .sub-item2{
        justify-content: space-around;
    }
}